{% extends 'base.html' %}

{% block content %}

<script>

document.getElementById("manager").setAttribute("class", "active");
</script>

<!-- to do: currently display all my followers
should display ones who are following me but not my friends-->
<div id=requests class="panel panel-primary">
      <div class="panel-heading">Friend Requests / People Who Followed Me</div>
      <div class="panel-body">
        {% for follower in fList %}
        <a href="{% url 'user_profile' follower.id %}">
        <img id="id-user-profile-image"
         class="profile-photo img-circle img-responsive img-center pull-left create-post"
         data-toggle="tooltip" title="{{ follower.displayName}}"
         alt="Profile Image"
        {% if follower.picture %}
         src="/media/{{ follower.picture }}"/></a>
        {% else %}
         src="http://placehold.it/175x175"/></a>
        {% endif %}
        {% endfor %}
        </div>
</div>

{% endblock %}
