{% extends 'base.html' %}

{% block content %}

<script>

document.getElementById("manager").setAttribute("class", "active");
</script>

<!-- to do: currently display all my followers
should display ones who are following me but not my friends-->
<div id=authors class="panel panel-primary"> 
      <div class="panel-heading">Friend Requests / People Who Followed Me</div>
      <div class="panel-body">
        {% for noti in notis %}
        <a href="{% url 'user_profile' noti.follower.user.username %}">
        <img id="id-user-profile-image"
         class="profile-photo img-circle img-responsive img-center pull-left create-post"
         data-toggle="tooltip" title="{{ noti.follower.user.username}}"
         alt="Profile Image"
        {% if noti.follower.picture %}
         src="/media/{{ noti.follower.picture }}"/></a>
        {% else %}
         src="http://placehold.it/175x175"/></a>
        {% endif %}
        {% endfor %}
        </div>
</div>

{% endblock %}