body {
    background-color: white;
}

.date {
	float: right;
}

.post {
	padding: 0.5em;
}

img.profile-photo-icon {
	margin-top: 0.5em;
	margin-right: 0.5em;
    max-width: 175px;
    max-width: 175px;
}

hr.post-hr {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

a.title {
    color: white;
}

a.title:hover {
    color: white;
}

a.comments {
	color: grey;
}

input.create-post {
    font-weight: 500;
}

hr {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.inputTheme {
    /* Taken from http://stackoverflow.com/questions/12200544/override-twitter-bootstrap-textbox-glow-and-shadows
     * Author : jeschafe
     * 02-17-2016
     */
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
textarea.create-post {
	font-weight: 200;
	resize: none;
}

img.create-post {
	margin-left: 0.5em;
	margin-right: 0;
}

/* LOGIN */
div.login {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Post/Comment Action Icons (edit, delete) */
div.post-action-icons {
    width: 25px;
}

button.action-icon {
    border: none;
}
div.placeholder {
    padding: 19px;
}

/* Displaying Comments */
div.comments {
    margin-left: 3.5em;
    margin-right: 30px;
    margin-top: 1.5em;
}

hr.comment-hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.comment {
    margin-left: 0em;
    margin-right: 0em;
}

.comment .date {
    color: grey;
}

.comment div {
    padding-left: 0.25em;
}

.comment-footer {
    color: grey;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.comment-form-footer {
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}


/* Registration / Sign Up Page */
h3.registration {
    margin-top: 0.5em;
}

/* User Profile */
div.profile-header {
    padding: 0.5em;
    margin-bottom: 1em;
}

div.profile-header > p {
    color: grey;
}

/* Toast Msgs */
.toast {
   opacity: 1 !important;
}


.imageAttachedIcon {
    margin-left: 0.5em;
}

button.padding {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.panel-body > p > img {
    max-width: 75% !important;
}