{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block content %}
{% load widget_tweaks %}

<div id="logged-in-author" data="{{author.id}}"></div>

<div class="row profile-header">

    <!-- Display profile image -->
    {% if profile_owner.picture %}
    <img id="id-user-profile-image" src="/media/{{ author.picture }}" class="profile-photo img-circle img-responsive img-center pull-left create-post" alt="Profile Image"/>
    {% else %}
    <img id="id-user-profile-image" class="profile-photo img-circle img-responsive img-center pull-left create-post" src="http://placehold.it/175x175">
    {% endif %}
    
    <div class="media-body" style="padding-left: 3em;">
        <!-- Do some logic here : follow, unfollow, accept etc -->
        {% if profile_owner != author %}
        <button id='follow-btn-{{profile_owner.id}}'  class="follow-btn btn btn-success pull-right" style="position: relative; top: 1.5em; right: 1.5em;">Follow</button>
        {% endif %}
        <!-- Display required user info on profile page -->
        <h1> {{ user_account.username }} </h1>
        <div>
            <!-- <p style="color: grey;">id: {{ user_account.id }} </p> -->
            <p style="color: grey;">host: {{ author.host }} </p>
            <p style="color: grey;">username: {{ user_account.username }} </p>
            <p style="color: grey;">url: {{ author.host }}user/{{ user_account.username }} </p>
            <p id="id-email" style="color: grey;">email: {{user_account.email}} </p>
            <p id="id-github" style="color: grey;">github: http://github.com/{{ author.github_name }}
            <!-- Triggers editGithubModal -->
            {% if profile_owner == author %}
            <button id='editGithubTrigger' type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#editGithubModal"><i class="fa fa-edit"></i></button> 
            {% endif %}
            </p>
        </div>
    </div>

    {% if user_account == user %}
    <!-- Triggers uploadImageModal -->
    <span>
        <button id='uploadProfileImageTrigger' type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadProfileImageModal"><i class="fa fa-picture-o"></i></button>
    </span>
    {% endif %}


</div>

<div class="main-body" style="position: relative; float: left; width: 75%;">

<!-- If this is the logged in user's profile page, show a create post component -->
{% if user_account == user %}
{% include "post/createPost.html" with icon=False %}
{% endif %}


{% for post in posts %}
<div class="row post">

    <!-- Display profile image -->
    {% if author.picture %}
    <img id="id-user-profile-image" src="/media/{{ author.picture }}" class="profile-photo-icon img-circle img-responsive img-center pull-left" alt="Profile Image"/>
    {% else %}
    <img id="id-user-profile-image" class="profile-photo-icon img-circle img-responsive img-center pull-left" src="http://placehold.it/50x50">
    {% endif %}

    <div class="panel panel-primary media-body">
        <div class='panel-heading'> <a class='title' href='{% url "post_detail" post.id %}'> {{ post.title }} </a> <span class='date'> {{ post.published }} </span> </div>
        <div class='panel-body'> 
            {% if post.contentType == "text/x-markdown" %}
                {{ post.content|markdown }} 
            {% else %}
                {{ post.content|urlize|slice:"500" }}
                {% if post.content|length > 500 %}
                <a class='read_more' href='{% url "post_detail" post.id %}'> Continue Reading... </a> 
                {% endif %}
            {% endif %}
            
            <br/>
            {% if post.image_url %}
                <img src="{{ post.image_url }}" />
            {% endif %}
        </div>
        <hr class='post-hr'>
        <div class='panel-body'>
            <a href='{% url "post_detail" post.id %}#comments' class='comments'> {{ post.comments.count }} Comments </a>
            <a href='{% url "post_detail" post.id %}' class='pull-right'><i class="fa fa-plus"></i></a>
        </div>
    </div>

    {% if post.author == author %}
    <div class="media-body post-action-icons">
        <a href="{% url 'post_edit' post.id %}"><button class="btn btn-default action-icon edit-post"><i class="fa fa-pencil-square-o"></i></button></a>
        <button id='delete-post-{{ post.id }}' class="btn btn-default action-icon delete-post-single"><i class="fa fa-trash-o"></i></button>
    </div>
    {% else %}
    <div class="media-body post-action-icons placeholder">
    </div>
    {% endif %}
</div>
{% endfor %}

{% include "post/editProfileFieldModal.html" %}
{% include "post/uploadProfileImageModal.html" %}
</div>

<div class="list-group sidebar" style="position: relative; float:right; width: 25%; padding-left: 1.5em;">
    <h4 class="list-group-item list-group-item-info">Friends</h4>
    {% for friend in friends|slice:":3" %}
     <a class="list-group-item" style="height: 75px;" href="{% url 'user_profile' friend.user.username %}">
    <img src={% if friend.picture %} '/media/{{friend.picture}}' {% else %} "http://placehold.it/50x50" {% endif%} class="friend-profile-icon img-circle img-responsive img-center pull-left list-group-item-text" alt="Profile Image"/>
    <span>
    <h4 class="list-group-item-heading">{{friend}}</h4>
    <p class="list-group-item-text">{{friend.github_name}}</p>
</span>
    </a>
    {% endfor %}
    {% if friends|length > 3 %}
    <a class="list-group-item" href='#'>See More Friends ...</a>
    {% endif %}
</div>
{% endblock %}
