<div class="modal fade" id="chooseAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="closeChooseAuthorModal" type="button" class="reset_radio close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="chooseAuthorLabel">Choose User</h4>
      </div>
      <p style="padding:5%">User name:
      <input id="friend_username" type="text" name="other_author"><br> </p>
			<div class="modal-footer">
			<button id="closeChooseAuthorModal" type="button" class="btn btn-default reset_radio" data-dismiss="modal">Cancel</button>
			<button id="submitChooseAuthor" type="submit" class="btn btn-primary"> Select </button>
      </div>
    </div>
  </div>
</div>