{% load widget_tweaks %}

<div class="row post createPost">

	{% if icon %}
	<img class="profile-photo-icon img-circle img-responsive img-center pull-right create-post" src="http://placehold.it/50x50">
	{% endif %}
	

	<form id="postForm" method="POST" action='{{ action }}'> {% csrf_token %}
		<div class="panel panel-primary media-body form-group">
			<div class="panel-body">
				{% render_field form.title class+="form-control inputTheme" placeholder="Title" %}
				<hr class="create-post">
				{% render_field form.content class+="form-control inputTheme create-post" placeholder="Enter something here" rows="5"%}
			</div>

			<hr class="post-hr">

			<div class="panel-body">
				<!-- Privacy/Visibility Settings -->
				<div class="btn-group dropup">
				  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Privacy <span class="caret"></span>
				  </button>

				  <ul class="dropdown-menu" data-toggle="buttons">
					{% for option in form.visibility %}
				  	<li>{{ option }}</li>
				  	{% endfor %}
				  </ul>
				</div>

				<!-- Content Type -->
				<div class="btn-group dropup">
				  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Type <span class="caret"></span>
				  </button>

				  <ul class="dropdown-menu" data-toggle="buttons">
					{% for option in form.contentType %}
				  	<li>{{ option }}</li>
				  	{% endfor %}
				  </ul>
				</div>

				<!-- Triggers uploadImageModal -->
				<button id='uploadImageTrigger' type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadImageModal">
					<i class="fa fa-picture-o"></i>
				</button>

				{% render_field form.image_url type="hidden" %}

				{% if edit %}
					<button id='submit_edit_post' type='submit' class='btn btn-primary pull-right'>Save Changes</button>
				{% else %}
					<button type='submit' class='btn btn-primary pull-right'>Post</button>
				{% endif %}
			</div>
		</div>
	</form>
</div>


<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
      </div>
		<form id="uploadImageForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="modal-body">
				<input id="id_photo" name="photo" type="file" accept="image/*"> 
			</div>
			<div class="modal-footer">
			<button id="closeUploadImageModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input type="submit" class="btn btn-primary" value="Upload" />
		</form>
      </div>
    </div>
  </div>
</div>