{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}

<script>
document.getElementById("my_stream").setAttribute("class", "active");
</script>


{% include "post/createPost.html" with icon=True %}

{% for post in posts %}
<div class="row post">

    <!-- Display post's author's profile image -->
    <img id="id-user-profile-image"
         class="profile-photo-icon img-circle img-responsive img-center pull-left"
         data-popover="true" data-html=true data-toggle="popover" title="{{ post.author }}"
         data-content=""
         alt="Profile Image"
        {% if post.author.picture %}
         src="/media/{{ post.author.picture }}"/>
        {% else %}
         src="http://placehold.it/50x50"/>
        {% endif %}

    {% if  loggedInAuthor.id != post.author.id %}    
    <button  id='follow-btn-{{post.author.id}}' class="follow-btn btn-sm btn-success pull-left" style="position: relative; bottom; 1.5em; right: 1.5em;">Unfollow</button>
    {% endif %}   

    <div class="panel panel-primary media-body">
        <div class='panel-heading'> <a class='title' href='{% url "post_detail" post.id %}'> {{ post.title }} </a> <span class='date'> {{ post.published }} </span> </div>
        <div class='panel-body'> 
            {% if post.contentType == "text/x-markdown" %}
                {{ post.content|markdown }}
            {% else %}
                {{ post.content|urlize|slice:"500" }}
                {% if post.content|length > 500 %}
                <a class='read_more' href='{% url "post_detail" post.id %}'> Continue Reading... </a> 
                {% endif %}
            {% endif %}

            <br/>
            {% if post.image_url %}
                <img src="{{ post.image_url }}"/>
            {% endif %}
        </div>
        <hr class='post-hr'>
        <div class='panel-body'>
            <a href='{% url "post_detail" post.id %}#comments' class='comments'> {{ post.comments.count }} Comments </a>
            <a href='{% url "post_detail" post.id %}' class='pull-right'><i class="fa fa-plus"></i></a>
        </div>
    </div>

    {% if post.author == loggedInAuthor %}
    <div class="media-body post-action-icons">
        <a href="{% url 'post_edit' post.id %}"><button class="btn btn-default action-icon edit-post"><i class="fa fa-pencil-square-o"></i></button></a>
        <button class="btn btn-default action-icon delete-post" id='delete-post-{{ post.id }}'><i class="fa fa-trash-o"></i></button>
    </div>
    {% else %}
    <div class="media-body post-action-icons placeholder">
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}