{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}

<div class="row post">
	<img class="profile-photo-icon img-circle img-responsive img-center pull-left" src="http://placehold.it/50x50" data-popover="true" data-html=true data-toggle="popover" title="{{ post.author }}" data-content="<button class='btn btn-default btn-sm'>Follow Me</button><p> </p><button class='btn btn-default btn-sm'>Friend Me</button>"/>

    <div class="panel panel-primary media-body">
    	<div class='panel-heading'> {{ post.title }} <span class='date'> {{ post.published }} </span> </div>
    	<div class='panel-body'> 
    		{% if post.contentType == "text/x-markdown" %}
    			{{ post.content|markdown|urlize }} 
			{% else %}
				{{ post.content|urlize }}
    		{% endif %}
    	</div>
    	<hr class='post-hr'>
    	<div class='panel-body'>
    		<a href="#" class='comments'> {{ post.comments.count }} Comments </a>
			<a href='{% url "post_detail" post.id %}' class='pull-right'><i class="fa fa-plus"></i></a>
    	</div>
    </div>

	<div class="media-body post-action-icons">
		<button class="btn btn-default action-icon"><i class="fa fa-pencil-square-o"></i></button>
		<button class="btn btn-default action-icon"><i class="fa fa-trash-o"></i></button>
	</div>
</div>

<div class="comments" id="comments">
	<h3> Comments: </h3>

	<!-- POST A COMMENT -->
	{% include "post/createComment.html" %}


	<!-- SHOW COMMENTS -->
	{% for comment in post.comments.all reversed %}
	<div class="row comment">
		<img class="profile-photo-icon img-circle img-responsive img-center pull-left" src="http://placehold.it/35x35" data-popover="true" data-html=true data-toggle="popover" title="{{ comment.author }}" data-content="<button class='btn btn-default btn-sm'>Follow Me</button><p> </p><button class='btn btn-default btn-sm'>Friend Me</button>"/>

	    <div class="media-body">
	    	<div class='panel-body'> 
	    		{% if comment.contentType == "text/x-markdown" %}
	    			{{ comment.comment|markdown|urlize }} 
				{% else %}
					{{ comment.comment|urlize }}
	    		{% endif %}
	    	</div>
	    	<div class="comment-footer">

    			{% if comment.author == user %}
	    		<button class="btn-default action-icon"><i class="fa fa-pencil-square-o"></i></button>
	    		<button class="btn-default action-icon  delete-comment" id='delete-comment-{{ comment.id }}' data-post-id='{{ post.id }}'><i class="fa fa-trash-o"></i></button>
				{% endif %}

				<span class='date'> {{ comment.published }} </span>
			</div>
		</div>

	</div>
	<hr class='comment-hr'>		
	{% endfor %}
</div>


{% endblock %}