{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}

<div id="logged-in-author" data="{{loggedInAuthor.id}}"></div>

<div class="row post">
	<img id="user-profile-image-{{ post.author.id }}"
			 class="profile-photo-icon img-circle img-responsive img-center pull-left"
			 data-toggle="tooltip" title="{{ post.author.displayName }}"
			 alt="Profile Image"
			{% if post.author.picture %}
			 src="/media/{{ post.author.picture }}"/>
			{% else %}
			 src="http://placehold.it/50x50"/>
			{% endif %}

	{% if form %}
		{% include "post/createPost.html" with edit=True %}
	{% else %}
    <div class="panel panel-primary media-body">
    	<div class='panel-heading'> {{ post.title }} <span class='date'> {{ post.published }} </span> </div>
    	<div class='panel-body'>
    		{% if post.contentType == "text/x-markdown" %}
    			{{ post.content|markdown }}
			{% else %}
				{{ post.content|urlize }}
    		{% endif %}

    		<br/>
            {% if post.image %}
                <img src="{{ post.image }}"  width="300px"/>
            {% endif %}
    	</div>
    	<hr class='post-hr'>
    	<div class='panel-body'>
    		<a href="#" class='comments'> {{ post.comments.count }} Comments </a>
			<a href='{% url "post_detail" post.id %}' class='pull-right'><i class="fa fa-plus"></i></a>
    	</div>
    </div>

    {% if post.author.id == loggedInAuthor.id|stringformat:"s" %}
	<div class="media-body post-action-icons">
		<a href="{% url 'post_edit' post.id %}"><button class="btn btn-default action-icon edit-post"><i class="fa fa-pencil-square-o"></i></button></a>
		<button id='delete-post-{{ post.id }}' class="btn btn-default action-icon delete-post-single"><i class="fa fa-trash-o"></i></button>
	</div>
    {% endif %}

    {% endif %}

</div>
<div class="comments" id="comments">
	<h3> Comments: </h3>

	<!-- POST A COMMENT -->
	{% include "post/createComment.html" %}


	<!-- SHOW COMMENTS -->
	{% if remote == True %}
		{% for comment in post.comments reversed %}
		<div class="row comment">
			<img class="profile-photo-icon img-circle img-responsive img-center pull-left"
					 data-toggle="tooltip" title="{{ comment.author.displayName }}"
					 alt="Profile Image"
					{% if comment.author.picture %}
					 src="/media/{{ comment.author.picture }}"/>
					{% else %}
					 src="http://placehold.it/35x35"/>
					{% endif %}

		    <div class="media-body">
		    	<div class='panel-body'>
		    		{% if comment.contentType == "text/x-markdown" %}
		    			{{ comment.comment|markdown }}
					{% else %}
						{{ comment.comment|urlize }}
		    		{% endif %}
		    	</div>
		    	<div class="comment-footer">

					{% if comment.author.id == loggedInAuthor.id|stringformat:"s" %}
		    		<!-- <button class="btn-default action-icon"><i class="fa fa-pencil-square-o"></i></button> -->
		    		<button class="btn-default action-icon  delete-comment" id='delete-comment-{{ comment.id }}' data-post-id='{{ post.id }}'><i class="fa fa-trash-o"></i></button>
					{% endif %}

					<span class='date'> {{ comment.published }} </span>
				</div>
			</div>

		</div>
		<hr class='comment-hr'>
		{% endfor %}
		{% else %}
			{% for comment in post.comments.all reversed %}
			<div class="row comment">
				<img class="profile-photo-icon img-circle img-responsive img-center pull-left"
						 data-toggle="tooltip" title="{{ comment.author.displayName }}"
						 alt="Profile Image"
						{% if comment.author.picture %}
						 src="/media/{{ comment.author.picture }}"/>
						{% else %}
						 src="http://placehold.it/35x35"/>
						{% endif %}

			    <div class="media-body">
			    	<div class='panel-body'>
			    		{% if comment.contentType == "text/x-markdown" %}
			    			{{ comment.comment|markdown }}
						{% else %}
							{{ comment.comment|urlize }}
			    		{% endif %}
			    	</div>
			    	<div class="comment-footer">

						{% if comment.author.id == loggedInAuthor.id|stringformat:"s" %}
			    		<!-- <button class="btn-default action-icon"><i class="fa fa-pencil-square-o"></i></button> -->
			    		<button class="btn-default action-icon  delete-comment" id='delete-comment-{{ comment.id }}' data-post-id='{{ post.id }}'><i class="fa fa-trash-o"></i></button>
						{% endif %}

						<span class='date'> {{ comment.published }} </span>
					</div>
				</div>

			</div>
			<hr class='comment-hr'>
		{% endfor %}
	{% endif %}

</div>


{% endblock %}
