<div class="modal fade" id="uploadProfileImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Set Profile Image</h4>
      </div>
		<form id="uploadProfileImageForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="modal-body">
				<input id="id_photo" name="photo" type="file" accept="image/*"> 
			</div>
			<div class="modal-footer">
			<button id="closeUploadProfileImageModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input type="submit" class="btn btn-primary" value="Upload" />
		</form>
      </div>
    </div>
  </div>
</div>